* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/** Header **/
.navbar {
  background-color: gray;
  border: 2px solid black;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .navbar-toggler-icon {

}

.navbar .navbar-toggler {
  border: 3px solid #000;
}

.navbar .navbar-nav {
  background-color: #fff;
}

.navbar a.nav-link {
  font-size: 21px;
  color: #000;
}

.navbar .nav-item {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.navbar :nth-child(3){
  border-bottom: 1px solid #000;
}

div.our-menu h1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.col-lg-12 {
  background-color: gray;
  margin-bottom: 32px;
}

.container h3 {
  color: #000;
  font-weight: bold;
  padding-top: 10px;
}

.container p {
  color: #000;
  font-size: 18px;
  padding: 16px;
}